.card {
  background: #E5E8E8;


  margin: 0.4rem;

  min-height: 100px;
  min-width: 100px;
  flex-basis: 40%;

  border-radius: 2px;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-content: center;
}
.card__content {
  grid-column-start: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
  font-weight: 100;
  overflow: hidden;
}

.card__content-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__content-emoji {
  font-size: 3rem;
}

.card__content-text, .card__content-emoji {
  padding: 0;
  margin: 0;
}

.card__delete {
  align-self: start;
  font-family: 'Permanent Marker', Helvetica, sans-serif;
}

.card__pic {
  height: 300px; width: 300px; overflow: hidden;
  align-items: center;
}

.card__pic img {
  border-radius: 25px;
  justify-content: center;
}
